<!DOCTYPE html>
<html>
  <head>
    <%-include('./partials/head.ejs')%>
  <body>
    <%-include('./partials/navbar.ejs')%>
    <div class="table-responsive-sm ">
    <% if (user && user.username)  { %>  
      
    <table id="ordersTable" class="table table-striped table-bordered align-middle text-center">
      <thead>
        <tr>          
          <th scope ="col">Order Number</th>
          <th scope ="col">Status</th> 
          <th scope ="col">Image</th>
          <th scope ="col">Name</th>
          <th scope ="col">Membership</th>
          <th scope ="col">Price</th>
          <th scope ="col">Discounted Price</th>
          <th scope ="col">Quantity</th>
          <th scope ="col">User's ID</th>
        </tr>
      </thead>
      <tbody id="ordersTableContent">
        <% orders.forEach(function(order) { %>
              <tr>
                <td>
                  <%= order.orderNumber  %>
                </td>
                <td>
                  <%= order.status  %>
                </td>
                <td>
                  <img src='<%= order.imgurl  %>' style="max-width:80px;max-height:80px;"/>
                </td>
                <td>
                  <%= order.name  %>
                </td>
                <td>
                  <% if (user && user.username === "Admin") { %>
                    <form id="membershipForm" method="POST" action="/orders/<%= order.userId %>/membership">
                      <select name="membershipName">
                        <option value="Bronze" <%= order.membershipName === "Bronze" ? "selected" : "" %>>Bronze</option>
                        <option value="Silver" <%= order.membershipName === "Silver" ? "selected" : "" %>>Silver</option>
                        <option value="Gold" <%= order.membershipName === "Gold" ? "selected" : "" %>>Gold</option>
                      </select>
                      <button type="submit" class="btn btn-sm btn-primary">Update</button>
                    </form>
                  <% } else { %>
                  <%= order.membershipName %>
                  <% } %>
                </td>
                <td>
                  <%= order.price  %>
                </td>
                <td>
                  <%= order.discountedPrice  %>
                </td>
                <td>
                  <%= order.quantity  %>
                </td>
                <td>
                  <%= order.userId  %>
                </td>
                <td>
                  <button class="btn btn-warning btn-sm mx-1"
                    type="button" onclick="event.preventDefault();deleteOrder('<%= order.id %>')">
                    Delete
                  </button>
                </td>
              </tr>
        <% }); %>
      </tbody>
     <% } %>
    </table>
    </div>
     <%-include('./partials/footer.ejs')%> 
  </body>
</html>
