<!DOCTYPE html>
<html lang="no-en">

<head>
  <%-include('./partials/head.ejs')%>
    <title>
      <%= title %>
    </title>
</head>

<body>
  <%-include('./partials/navbar.ejs')%>
    <header>
      <%- header %>
    </header>
    <footer>
      <%- footer %>
    </footer>
</body>

</html>