<!DOCTYPE html>
<html>

<head>
  <%- include('./partials/head.ejs') %>
    <title>
      <%= title %>
    </title>
</head>

<body>
  <%- include('./partials/navbar.ejs') %>
  <header>
    <%- header %>
  </header>
      <div class="row-container">

        <div class="card">
          <div class="card-content">
            <img class="profile-image" src="../images/block1.png" alt="Profile Image" />
          </div>
          <div class="title">
            <h2>Figit Block</h2>
          </div>
          <div>
            <img class="product-image" src="../images/block1.png" alt="Product Image" />
          </div>
        </div>

        <div class="card">
          <div class="card-content">
            <img class="profile-image" src="../images/block2.png" alt="Profile Image" />
          </div>
          <div class="title">
            <h2>Figit Block</h2>
          </div>
          <div class="product-image">
            <img class="product-image" src="../images/block2.png" alt="Product Image" />
          </div>
        </div>

        <div class="card">
          <div class="card-content">
            <img class="profile-image" src="../images/bunny.png" alt="Profile Image" />
          </div>
          <div class="title">
            <h2>Bunny</h2>
          </div>
          <div class="product-image">
            <img class="product-image" src="../images/bunny.png" alt="Product Image" />
          </div>
        </div>

        <div class="card">
          <div class="card-content">
            <img class="profile-image" src="../images/hitman.png" alt="Profile Image" />
          </div>
          <div class="title">
            <h2>The Rock-to-pus</h2>
          </div>
          <div class="product-image">
            <img class="product-image" src="../images/hitman.png" alt="Product Image" />
          </div>
        </div>

        <div class="card">
          <div class="card-content">
            <img class="profile-image" src="../images/hitmanProfile.png" alt="Product Image" />
          </div>
          <div class="title">
            <h2>The Rock-to-pus</h2>
          </div>
          <div class="product-image">
            <img class="product-image" src="../images/hitman.png" alt="Product Image" />
          </div>
        </div>

        <div class="card">
          <div class="card-content">
            <img class="profile-image" src="../images/hitmanSizes.png" alt="Profile Image" />
          </div>
          <div class="title">
            <h2>The Rock-to-pus</h2>
          </div>
          <div class="product-image">
            <img class="product-image" src="../images/hitmanSizes.png" alt="Product Image" />
          </div>
        </div>

        <div class="card">
          <div class="card-content">
            <img class="profile-image" src="../images/shrekPro.png" alt="Profile Image" />
          </div>
          <div class="title">
            <h2>Shrek</h2>
          </div>
          <div class="product-image">
            <img class="product-image" src="../images/shrekPro.png" alt="Product Image" />
          </div>
        </div>

        <div class="card">
          <div class="card-content">
            <img class="profile-image" src="../images/shrekProfile.png" alt="Profile Image" />
          </div>
          <div class="title">
            <h2>Shrek</h2>
          </div>
          <div class="product-image">
            <img class="product-image" src="../images/shrekProfile.png" alt="Product Image" />
          </div>
        </div>

        <div class="card">
          <div class="card-content">
            <img class="profile-image" src="../images/shrekScaled.png" alt="Profile Image" />
          </div>
          <div class="title">
            <h2>Shrek</h2>
          </div>
          <div class="product-image">
            <img class="product-image" src="../images/shrekScaled.png" alt="Product Image" />
          </div>
        </div>

        <div class="card">
          <div class="card-content">
            <img class="profile-image" src="../images/punkDuck1.jpg" alt="Profile Image" />
          </div>
          <div class="title">
            <h2>Punk Duck</h2>
          </div>
          <div class="product-image">
            <img class="product-image" src="../images/punkDuck1.jpg" alt="Product Image" />
          </div>
        </div>

        <div class="card">
          <div class="card-content">
            <img class="profile-image" src="../images/punkDuck2.jpg" alt="Profile Image" />
          </div>
          <div class="title">
            <h2>Punk Duck</h2>
          </div>
          <div class="product-image">
            <img class="product-image" src="../images/punkDuck2.jpg" alt="Product Image" />
          </div>
        </div>

        <div class="card">
          <div class="card-content">
            <img class="profile-image" src="../images/punkDuck3.jpg" alt="Profile Image" />
          </div>
          <div class="title">
            <h2>Punk Duck</h2>
          </div>
          <div class="product-image">
            <img class="product-image" src="../images/punkDuck3.jpg" alt="Product Image" />
          </div>
        </div>
      </div>
      <footer>
        <%- footer %>
      </footer>
</body>

</html>